@import 'src/App.scss';

pre {
  //Tag Clearfix from conflict from bulma
  .tag,
  .number {
    display: inline !important;
    color: inherit !important;
    align-items: unset !important;
    font-size: 13px !important;
    justify-content: initial !important;
    line-height: initial !important;
    padding: 0 !important;
    white-space: initial !important;
    background-color: transparent !important;
    margin: 0 !important;
    text-align: unset;
    vertical-align: unset;
  }
}
