$brand-orange: #e24625;

.accountPageHeader {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 55px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: rgb(51, 51, 51);
}

.accountSectionHeader {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
}

.accountSubSectionHeader {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.Link {
  color: #171717;
  font-weight: 400;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}

.poochInput {
  padding: 25px 15px;
  border-radius: 10px;
  border: 2px solid #dee2e6;
  color: #495057;
  background-color: #fff;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;
  display: block;
  box-shadow: none;
}
.poochButton {
  color: #fff;
  background-color: $brand-orange;
  border-color: $brand-orange;
  min-width: 200px;
  font-size: 18px;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  height: 100%;
  font-weight: 500;
}

.stripeElementsInput {
  .StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: 'Source Code Pro', monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
  }
}
