.AccountHeaderStyle {
  text-align: center;
  background-color: transparent;
  padding: 20px;
  margin-bottom: 60px;
  h1 {
    font-weight: bold;
    color: #171717;
    font-size: 2.5rem;
  }
}
.underline {
  text-decoration: underline;
}
